<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header">

</head>

<body>

<div th:replace="common/header :: navbar">

</div>

<h2><center>JAVA BOOKSTORE BOOK LIST</center></h2>

<br>

<div class="container">
    <div class="table-responsive">
        <table id="bookListTable" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th><center>Title</center></th>
                    <th><center>Author</center></th>
                    <th><center>Category</center></th>
                    <th><center>List Price</center></th>
                    <th><center>Our Price</center></th>
                    <th><center>Active?</center></th>
                    <th><center>Operation</center></th>
                </tr>
            </thead>

            <tbody>
                <tr data-th-each="book : ${bookList}">   <!--gets the book info-->
                        <!--<td th:text="${book.title}"></td>-->
                    <td><a th:href="@{/book/bookInfo(id=${book.id})}"><span th:text="${book.title}"></span></a></td>
                    <!--book title now becomes a link with clickability-->
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.category}"></td>
                        <td th:text="${book.listPrice}"></td>
                        <td th:text="${book.ourPrice}"></td>
                        <td th:text="${book.active}"></td>
                        <td><font color="red">DELETE</font></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

    <!--<button th:id="deleteSelected" class="btn btn-danger ">Delete Selected</button>
</div>-->

<div th:replace="common/header :: body-bottom-scripts"></div>

<!--for datatable layout-->
<!--https://datatables.net/reference/option/lengthMenu-->
<!--https://datatables.net/examples/advanced_init/length_menu.html-->
<!--https://www.youtube.com/watch?v=w9mFOUFNmfQ-->
<!--https://github.com/thymeleaf/thymeleaf/issues/548-->
<!--<script>-->
<script th:inline="none">
        $(document).ready(function() {
			$("#bookListTable").DataTable({
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
			});
		});
	</script>

</body>
</html>
